.container {
  border: 1px solid #00000029;
}

.wrapper {
  width: 90%;
  margin: auto !important;
}

.content {
  display: flex;
  box-sizing: border-box;
  justify-content: space-around;
  align-items: center;
  margin: 20px auto 20px auto;
}

.menu {
  padding: 0;
  margin-top: 28px;
  display: flex;
  justify-content: space-between;
}

.menu li {
  list-style: none;
  margin: 0 30px 0 30px;
}

.menu li a {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 16px;
  color: #354463;
  text-decoration: none;
}

.title {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 22px;
  color: #354463;
  width: 147px;
}

.btn {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 18px;
  color: #354463;
  background-color: #c1f7d5;
  border-radius: 25px;
  padding: 10px;
}

@media screen and (min-width: 501px) and (max-width: 991px) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: initial;
    margin: 0;
  }

  .menu {
    display: flex;
    justify-content: initial;
  }

  .menu li {
    margin: initial;
    padding: 0 50px 0 0;
  }

  .title {
    order: -1;
  }

  .nav-container {
    order: 1;
  }
  
  .btn-wrapper{
    align-self: flex-end;
    margin-top: -50px;
  }
}

@media screen and (max-width: 500px) {
  .content {
    flex-wrap: wrap;
  }

  .title {
    margin-top: 25px;
  }

  .menu {
    display: initial;
  }

  .menu li {
    margin: 12px 0px 0 12px;
  }

  /* Wrapper */
  .btn-wrapper{
    margin-top: 20px;
    padding: 10px 150px 10px 150px;
  }
}
